@{
    ViewBag.Title = "_Disclosure";
}
<div>
    <p>
        Last Updated: September 9, 2012 </p>
    <p>
        This Agreement ("Agreement") is made by and between Kuyam Companies, Inc.("Discloser")
        and the user of this website and its employees and representatives (collectively
        "Recipient") for the purpose of preventing the unauthorized disclosure of Confidential
        Information as defined below.
    </p>
    <p>
        1. "Confidential Information" as used herein shall mean all information disclosed
        or made available by Discloser to Recipient relating to the business in which Discloser
        is engaged, including without limitation trade secrets, know-how, discoveries, ideas,
        concepts, techniques, designs, specifications, technical information, drawings,
        data, research and development projects, marketing plans, financial information,
        the Discloser’s legal, business and financial structure and operations, and other
        confidential and proprietary information.
    </p>
    <p>
        2. Recipient acknowledges and agrees that the Confidential Information constitutes
        valuable trade secrets of Discloser, that Discloser’s business and success depend
        upon the use and protection of the Confidential Information, that the Confidential
        Information is not generally or publicly known and has commercial value, and that
        any disclosure or unauthorized use thereof will cause irreparable harm and loss
        to Discloser.
    </p>
    <p>
        3. All Confidential Information shall be and remain the sole and exclusive property
        of Discloser and shall be held in the strictest confidence by Recipient. Recipient
        shall immediately deliver to Discloser, upon written notice given to Recipient,
        all Confidential Information, including without limitation all records, items, books,
        documents, notes, physical evidence, computer records and other materials and all
        reproductions and copies of the foregoing in any form or medium.
    </p>
    <p>
        4. Recipient shall not, without the prior written consent of the Discloser, disclose,
        use or permit to be used any Confidential Information for any purpose whatsoever.
        The confidentiality obligations of this agreement shall be binding on all persons
        who sign this agreement, as well as any employees of Recipient to whom Confidential
        Information is or may be disclosed in the future.
    </p>
    <p>
        5. The obligations of Paragraphs 2 and 3 of this Agreement shall not apply to any
        Confidential Information which Recipient can demonstrate: (a) is or becomes available
        to the public through no breach of this Agreement; (b) was previously known by Recipient
        without any obligation to hold it in confidence; (c) was received from a third party
        free to disclose such information without restriction; (d) is required by law or
        regulation to be disclosed, but only to the extent and for the purposes of such
        required disclosure; or (e) is disclosed in response to a valid order of a court
        or other governmental body of the United States or any political subdivision thereof,
        but only to the extent of and for the purposes of such order; provided, however,
        that Recipient shall first notify Discloser of the order and permit the Discloser
        to seek an appropriate protective order.</p>
    <p>
        6. This Agreement shall expire three (3) years from the date of execution. The non-disclosure
        and non-use portion of this Agreement shall survive the termination hereof and shall
        remain in effect until the Confidential Information no longer qualifies as a trade
        secret.
    </p>
    <p>
        7. The Recipient shall notify the Discloser immediately upon discovery of any unauthorized
        use or disclosure of any Confidential information by the Recipient or its representatives,
        and shall cooperate with the Discloser in every reasonable way to assist the Discloser
        to regain possession of the Confidential Information and prevent its further unauthorized
        use or disclosure.</p>
    <p>
        8. All information provided by the Discloser is provided “AS IS,” and the Discloser
        makes no representation or warranty (express or implied) concerning the completeness
        or accuracy of any information provided to the Recipient.</p>
    <p>
        9. If the Recipient provides any ideas, suggestions or recommendations to the Discloser
        regarding the Discloser’s Confidential Information or business (“Feedback”), the
        Discloser is free to use and incorporate such Feedback for any purpose, without
        payment of any royalties or other consideration to the Recipient.</p>
    <p>
        10. Nothing contained in this Agreement shall be deemed to constitute either party
        a partner, joint venture or employee of the other party for any purpose.
    </p>
    <p>
        11. This Agreement constitutes the entire agreement between the parties and shall
        in all respects supersede and prevail over all prior oral or written agreements
        or understandings with respect to this subject matter. No amendment, alteration,
        or modification of this Agreement shall be valid unless in each instance such amendment,
        alteration or modification is set forth in writing signed by the party sought to
        be charged.</p>
    <p>
        12. The Recipient acknowledges that monetary damages may not be a sufficient remedy
        for the unauthorized disclosure of Confidential Information, and that the Discloser
        shall be entitled, without waiving any rights or remedies, to such injunctive or
        equitable relief as may be deemed proper by a court of competent jurisdiction. If
        either party to this Agreement initiates legal proceedings against the other party,
        the prevailing party shall be entitled to recover its expenses, including reasonable
        attorneys’ fees, in addition to any other relief the court may allow.</p>
    <p>
        13. The rights and obligations set forth in this Agreement shall survive any expiration,
        termination or cancellation of this Agreement, and the termination of any relationship
        between Discloser and Recipient for any reason, and shall be binding on and continue
        to bind Recipient’s heirs, successors, executors, administrators and legal representatives.</p>
    <p>
        14. No rights or licenses, express or implied, are hereby granted to Recipient as
        a result of or related to this Agreement.</p>
    <p>
        15. This Agreement shall be governed by and construed in accordance with the laws
        of the State of California.</p>
</div>
