<div class="container">
    <div class="two-thirds column alpha omega leftFooter">
        <p id="lbcopyright"></p>
    </div>
    <div class="six columns alpha omega rightFooter desktop">
        <p>
            <a href="#" title="Facebook"><img alt="Facebook" src="content/images/icons/icon_facebook.png"></a>
            <a href="#" title="Twitter"><img alt="Twitter" src="content/images/icons/icon_twitter.png"></a>
            <a href="#" title="Google Plus"><img alt="Google Plus" src="content/images/icons/icon_google.png"></a>
            <a href="#" title="Pinterest"><img alt="Pinterest" src="content/images/icons/icon_pinterest.png"></a>
            <a href="#" title="Youtube"><img alt="Youtube" src="content/images/icons/icon_youtube.png"></a>
        </p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var stringdate = $.datepicker.formatDate('yy', new Date());
        var compyright = "copyright © " + stringdate + " kuyam companies, inc. all rights reserved. Patent pending.";        
        $("#lbcopyright").html(compyright);
    });

    //var _gaq = _gaq || [];
    //_gaq.push(['_setAccount', 'UA-35978406-1']);
    //_gaq.push(['_setDomainName', 'kuyam.com']);
    //_gaq.push(['_trackPageview']);

    //(function () {
    //    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    //    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    //})();

</script>
