<!-- .site-contact -->
<section id="contact" class="site-contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <header class="section-header">
                    <a class="logo" title="" href="#">
                        <img alt="" src="../content/images/logo_kuyam.png" />
                    </a>
                </header>
                <p>we love hearing your questions and feedback. send us an email or give us a call!<br /></p>
                <address class="site-address">
                    <ul>
                        <li class="icon-location">1901 Avenue of the Stars, Suite 1900<br /> Los Angeles, CA 90067</li>
                        <li class="icon-phone">(310) 461-15151</li>
                        <li class="icon-email"><a title="" href="mailto:info@kuyam.com">info@kuyam.com</a></li>
                    </ul>
                </address>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 desktop ipad">
                <header class="section-header">
                    <h2>kuyam app</h2>
                </header>
                <p>download kuyam's FREE app for your devices. with our app book your appointments on the go! available for iPhone & Android phones.</p>
                <div class="apps">
                    <a href="https://itunes.apple.com/us/app/kuyam/id606531094?mt=8" title=""><img alt="" src="content/images/app-store.png" /></a>
                    <a href="https://play.google.com/store/apps/details?id=com.kourosh.kuyam" title=""><img alt="" src="content/images/play-store.png" /></a>
                </div>
                <div class="live-chat">
                    <a class="btnLiveChat @(Kuyam.WebUI.Models.MySession.ShowLiveChat?"on":"off")" href="JavaScript:void(0);" title="live chat"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <header class="section-header">
                    <h2>sign up</h2>
                </header>
                <fieldset class="contact-form">
                    <label>name:</label>
                    <input class="form-control" type="text" value="Enter Name" onfocus="if (this.value == 'Enter Name') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Enter Name'; }" />
                    <label>email:</label>
                    <input class="form-control" type="email" value="Enter Email" onfocus="if (this.value == 'Enter Email') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'Enter Email'; }" />
                    <input type="submit" class="btn btn-green" value="Sign up" />
                </fieldset>
                <div class="link-socials iphone">
                    <a target="_blank" href="https://www.facebook.com/mykuyam" title="Facebook"><img alt="Facebook" src="content/images/icons/icon_facebook.png"></a>
                    <a target="_blank" href="https://twitter.com/mykuyam" title="Twitter"><img alt="Twitter" src="content/images/icons/icon_twitter.png"></a>
                    <a target="_blank" href="https://plus.google.com/u/0/b/103779915573360185741/103779915573360185741" title="Google Plus"><img alt="Google Plus" src="content/images/icons/icon_google.png"></a>
                    <a target="_blank" href="http://pinterest.com/kuyam/" title="Pinterest"><img alt="Pinterest" src="content/images/icons/icon_pinterest.png"></a>
                    <a target="_blank" href="http://www.youtube.com/channel/UCei6RmG4G9jLgEHchRzR5jA" title="Youtube"><img alt="Youtube" src="content/images/icons/icon_youtube.png"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.site-contact -->

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <p id="lbcopyright">Copyright © 2014 Kuyam Companies, Inc. All rights reserved. Patent pending.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 link-socials desktop">
                <a target="_blank" href="https://www.facebook.com/mykuyam" title="Facebook"><img alt="Facebook" src="content/images/icons/icon_facebook.png"></a>
                <a target="_blank" href="https://twitter.com/mykuyam" title="Twitter"><img alt="Twitter" src="content/images/icons/icon_twitter.png"></a>
                <a target="_blank" href="https://plus.google.com/u/0/b/103779915573360185741/103779915573360185741" title="Google Plus"><img alt="Google Plus" src="content/images/icons/icon_google.png"></a>
                <a target="_blank" href="http://pinterest.com/kuyam/" title="Pinterest"><img alt="Pinterest" src="content/images/icons/icon_pinterest.png"></a>
                <a target="_blank" href="http://www.youtube.com/channel/UCei6RmG4G9jLgEHchRzR5jA" title="Youtube"><img alt="Youtube" src="content/images/icons/icon_youtube.png"></a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    $(function () {
        var stringdate = $.datepicker.formatDate('yy', new Date());
        var compyright = "copyright © " + stringdate + " kuyam companies, inc. all rights reserved. Patent pending.";        
        $("#lbcopyright").html(compyright);
    });

    //var _gaq = _gaq || [];
    //_gaq.push(['_setAccount', 'UA-35978406-1']);
    //_gaq.push(['_setDomainName', 'kuyam.com']);
    //_gaq.push(['_trackPageview']);

    //(function () {
    //    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    //    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    //})();

</script>
