<!-- .site-header -->
<header class="site-header navbar navbar-static-top bs-docs-nav navbar-fixed-top">
    <div class="container">

        <!-- .navbar-header -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#bs-navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" title="" href="/"><img alt="" src="content/images/logo_kuyam.png" /></a>
            <div class="system-date desktop">
                <p id="datetitle">Thursday, July 31 2014</p>
            </div>
        </div>
        <!-- /.navbar-header -->
        <!-- .search-form -->
        <div class="search-form desktop">
            <a class="btnLiveChat @(Kuyam.WebUI.Models.MySession.ShowLiveChat?"on":"off")" href="JavaScript:void(0);" title="live chat"></a>
            <fieldset>
                <span class="icon-list"></span>
                <input id="txtSearchInput" class="form-control" type="text" value="search for a business" onfocus="if (this.value == 'search for a business') { this.value = ''; }" onblur="if (this.value == '') { this.value = 'search for a business'; }" />
            </fieldset>
        </div>
        <!-- /.search-form -->

        <div class="clear desktop"></div>
        <!-- .navbar-collapse -->
        <div class="collapse navbar-collapse menuList" id="bs-navbar-collapse">
            <ul class="nav navbar-nav navbar-right navMenu">
                <li class="active"><a href="/" title="Home">home</a><span class="desktop"></span></li> 
                <li class="iphone"><a href="#" title="How it works">how it works</a><span class="desktop"></span></li>               
                <li><a href="#" title="Book">book</a><span class="desktop"></span></li>
                <li><a href="#" title="Beautify LA">Beautify LA</a><span class="desktop"></span></li>
                <li><a href="#" title="Blog">lifestyle blog</a><span class="desktop"></span></li>
                <li class="desktop"><a href="#" title="How it works">how it works</a><span class="desktop"></span></li>
                <li class="iphone"><a href="#" title="kuyam.org">kuyam.org</a><span class="desktop"></span></li>
                <li><a class="bg-green" href="#" title="Sign in">sign in</a><span class="desktop"></span></li>
                <li><a class="bg-green" href="#" title="Sign up">sign up</a><span class="desktop"></span></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </div>
</header>
<!-- /.site-header -->

<script type="text/javascript">
    var stringdate = $.datepicker.formatDate('DD, MM dd yy', new Date());
    $("#datetitle").html(stringdate);

    $(document).ready(function (e) {
        $("#txtSearchInput").keypress(function (e) {          
            var kCode = e.keyCode || e.charCode;
            if (kCode == 13) {
                var key = $(e.target).val();
                searchProfileCompanyBykey(key);
            }
        });

    });


    function searchProfileCompanyBykey(key) {
        var param = "key=" + key;
        var url = "/company/companysearch?" + param;        
        if (key == 'search for a business' || key == '') {
            url = "/company/companysearch";
        }
        self.location.href = url;
        return false;
    }

</script>