<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/Kuyam.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="Kuyam" name="description" />
<meta content="Kuyam" name="keywords" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Kuyam - 404</title>
<link href="images/favicon.ico" rel="shortcut icon">
<!-- InstanceEndEditable -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/kuyam.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/themes/base/jquery.ui.all.css" />
<link type="text/css" href="css/themes/base/jquery.ui.selectmenu.css" rel="stylesheet" />
<!--[if IE 7]>
<link href="css/styleIE7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 8]>
<link href="css/styleIE8.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 9]>
<link href="css/styleIE9.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="js/jquery.ui.core.js"></script>
<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="js/jquery.ui.position.js"></script>
<script type="text/javascript" src="js/jquery.ui.selectmenu.js"></script>
<script type="text/javascript" src="js/css_browser_selector.js"></script>
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
	<div class="wrap">
    	<div>
    	<div class="fixheaderposition">
        <div class="header">
            <div class="hcontent h73">
                <a href="#" class="logo" title="Kuyam"><img alt="Kuyam" src="images/kuyam_logo.png"/></a>
                <!-- InstanceBeginEditable name="search" -->
                <!--<a href="#" class="nameUser" title="santa monica, ca">santa monica, ca</a>-->
                <ul class="menuHeader">
                   	<li><a href="#" title="how it works">how it works</a></li>
                    <li><a href="#" title="sign up">sign up</a></li>
                    <li class="lastchild"><a href="#" title="login">log in</a></li>                                 	
              	</ul>
                <!-- InstanceEndEditable -->
            </div>
        </div>
        </div>
        </div>
        <div class="clear"></div>
        <div class="content">
            <!-- InstanceBeginEditable name="content" -->
            	<div class="page404">
                	<div class="clear"></div>
                    <center><img alt="please check the url or return to home" src="images/404img.jpg" /></center>
                 	<div class="clear"></div>
                    <div class="return">please check the url or <a href="homepage.html" title="return to home">return to home</a></div>
                </div>
        <!-- InstanceEndEditable -->
        </div>
        <div class="footer">
            <div class="fcontent">
                <a href="" class="logo" title="Kuyam"><img alt="Kuyam" src="images/kuyam_footer_logo.png" /></a>
                <ul class="menu">
                    <li><a href="#" title="how it works">how it works</a></li>
                    <li><a href="#" title="team">team</a></li>
                    <li><a href="#" title="faq">faq</a></li>
                </ul>
                <ul class="menu col2">
                    <li><a href="#" title="contact">contact</a></li>
                    <li><a href="#" title="terms &amp; privacy">terms &amp; privacy</a></li>
                    <li><a href="#" title="kuyam.org">kuyam.org</a></li>
                </ul>
                
                <span>copyright © 2013 kuyam companies, inc. all rights reserved patend pending.</span>
                <ul class="medialogo">
                    <li><a href="http://www.facebook.com/" class="fb" target="_blank" title="facebook"></a></li>
                    <li><a href="https://twitter.com/" class="tw" target="_blank" title="twitter"></a></li>
                    <li><a href="http://www.youtube.com/" target="_blank" class="yt" title="youtube"></a></li>
                    <li><a href="http://www.tumblr.com/" target="_blank" class="tt"  title="tumblr"></a></li>
                    <li><a href="http://pinterest.com/" target="_blank" class="na"  title="pinterest"></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
<!-- InstanceEnd --></html>
