@model Kuyam.Database.SMSMessage
<ul class="adminItemContent1" style="list-style: none">
    <li class="liadd1">@Model.DateTime.ToString("MMM dd,yyyy hh:mm tt")</li>
    <li class="liadd">@Model.Message</li>
</ul>
