@using Kuyam.Database
@{
    ViewBag.Title = "Import data";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int userListPageIndex = ViewBag.UserListPageIndex ?? 1;
    string key = ViewBag.Key;
    int searchType = ViewBag.SearchType ?? -1;
}
<script type="text/javascript" src="../../Scripts/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="../../Scripts/js/jquery.inputlimiter.1.3.1.min.js"></script>
<style type="text/css">
    td {
        width: 300px;
        border: none !important;
    }

        td:first-child {
            width: 90px;
        }

    tr {
        border: none;
    }

    table {
        border: none !important;
    }
</style>
<div id="contentmainpage">
    <h2>import company</h2>
    <div id="divcompanydetail">
        <fieldset>
            <div class="loginform">
                Have a process upload is working, please wait when this completed. 
            </div>
        </fieldset>
        <p>
            <a href="/Admin/AdminCompanyList?page=@(userListPageIndex)&key=@(key)&searchType=@(searchType)">
                back to list
            </a>
        </p>
    </div>
</div>
