@{
    ViewBag.Title = "Pending Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="contentmainpage">
    <h2>
        locked users list</h2>
    <div class="boxsearch">
        <center>
            <table cellpadding="0" cellspacing="0" border="0" class="tbldata">
                <tr class="odd">
                    <td>
                        <label>
                            search&nbsp;&nbsp;
                            <input type="text" id="txtKey" name="Key" value="@ViewBag.Key" />
                        </label>                       
                        <input class="button" id="btnSearch" value="search" type="button" onclick="FilterSearchResult();" />
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <div id="listLockedUsers">
        @Html.Partial("_LockedUserResults")
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#txtKey').val("@ViewBag.Key")
    });
    function pagingEvent(pageIndex) {
        var key = $('#txtKey').val();
        var searchType = $("#searchType option:selected").val();
        var searchParameters = { page: pageIndex, key: key, searchType: searchType };
        $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(searchParameters),
                dataType: 'html',
                url: '/Admin/LockedUsers/'
            })
            .success(function (result) {
                $('#listLockedUsers').html(result);
            })
            .error(function (error) {

            });
    };
    function FilterSearchResult() {

        var key = $('#txtKey').val();        
        var searchParameters = { key: key};
        $.ajax(
                {
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(searchParameters),
                    dataType: 'html',
                    url: '/Admin/SearchLockedUsers/'
                })
                .success(function (result) {

                    $('#listLockedUsers').html(result);

                })
                .error(function (error) {

                });
    }
</script>
