@{

    /* The featured company, dyamically load images, etc. */
    
}


<img src="@Url.Content("~/images/Dashboard/DashboardFeaturedCompany.jpg")" alt="temp" />


<!--
<h1>Featured Company</h1>

<a href="">more</a>

<div class="DashboardFeaturedCompanyContent">
    <h1>American Diabetes Association</h1>

    <div style="height:50px;width:50px;float:left;" />

    <p>
    Californians are increasingly feeling 
    the effects of diabetes as the thousands
    of people suffer from the...
    </p>

</div>
-->