<style>
            .kuyam *{{
                line-height: 0;
            }}
            .kuyam .content td *{{
                line-height: 142%;
            }}
        </style>
<center>
    <table class="kuyam" cellpadding="0" cellspacing="0" border="0" width="550px" style="font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr style="background-color: black; height: 61px;">
                        <td style="text-align: left;">
                            <img alt="" src="{0}/images/header_logo.png" usemap="#logo" style="border: solid 0px white;" />
                            <map name="logo" id="logo">
                                <area shape="rect" coords="20,5,148,50" href="{0}" alt="Kuyam" title="Kuyam" />
                            </map>
                        </td>
                        <td style="color: #c1d82f; text-align: right; font-size: 12px; padding-right: 17px;">
                            <div style="font-family: Arial, Helvetica, sans-serif; padding-top: 25px;">
                                {3}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="line-height: 0px;">
                            <img alt="" src="{0}/images/header_footer_surprise.png" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px;">
                <img alt="" src="{0}/images/tbox_surprise.png" />
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td valign="top" style="background-color: #c9e1f1;" width="21">
                            <img alt="" src="{0}/images/lbox_surprise.png" width="21" height="258" />
                        </td>
                        <td valign="top" style="border-left: solid 1px #c1d82f; border-right: solid 1px #c1d82f;
                            width: 506px; padding-left: 21px;" width="506" align="left">
                            <div style="border-left: solid 8px #e6e6e6;">
                                <table cellpadding="0" cellspacing="0" border="0" class="content">
                                    <tr>
                                        <td style="padding-left: 19px;" height="261" valign="top">
                                            <table cellpadding="0" cellspacing="0" border="0" width="438" style="padding-left: 5px;">
                                                <tr>
                                                    <td style="font-size: 12px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                        padding: 10px 0px 0px 12px;">
                                                        hi, <b>{4}!</b>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding: 18px 0px 11px 12px;">
                                                        <img alt="" src="{0}/images/access_key.png" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 12px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                        padding-top: 3px; padding-left: 12px;">
                                                        <p style="word-break: break-all;">
                                                            email login: <strong style="color: black;">{1}</strong>
                                                            <br />
                                                            access key: <strong style="color: black;">{2}</strong>
                                                            <br />
                                                            click the following link to impersonate login:
                                                            <br />
                                                            <a href="{0}admin" title="" style="text-decoration: none; color: #0071bc; font-family: Arial, Helvetica, sans-serif;
                                                                font-size: 12px;">{0}admin/</a>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top" style="background-color: #c9e1f1;" width="23">
                            <img alt="" src="{0}/images/rbox_surprise.png" width="23" height="258" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px;">
                <img alt="" src="{0}/images/fbox_surprise.png" usemap="#social" style="border: solid 0px white;" />
                <map name="social" id="social">
                    <area shape="rect" coords="480,4,508,35" href="http://instagram.com/kuyamsocial"
                        alt="Instagram" title="Instagram" />
                    <area shape="rect" coords="446,4,475,34" href="http://pinterest.com/kuyam/" alt="Pinterest"
                        title="Pinterest" />
                    <area shape="rect" coords="249,18,302,30" href="http://www.kuyam.org" alt="Kuyam"
                        title="Kuyam" />
                    <area shape="rect" coords="311,4,340,34" href="http://www.facebook.com/mykuyam" alt="Facebook"
                        title="Facebook" />
                    <area shape="rect" coords="347,4,376,34" href="https://twitter.com/mykuyam" alt="Twitter"
                        title="Twitter" />
                    <area shape="rect" coords="380,4,409,34" href="http://www.youtube.com/user/mykuyam"
                        alt="Youtube" title="Youtube" />
                    <area shape="rect" coords="413,4,443,34" href="http://kuyam.tumblr.com/" alt="Tumblr"
                        title="Tumblr" />
                </map>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; font-size: 0px;" valign="top">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td style="line-height: 0px; font-size: 0px;">
                            <img alt="" src="{0}/images/footer_surprise2.png" style="border: solid 0px white;" />
                        </td>
                        <td style="line-height: 0px; font-size: 0px;">
                            <a href="mailto:{5}" title="{5}">
                                <img alt="" src="{0}/images/footer_surprise2a.png" style="border: solid 0px white;" /></a>
                        </td>
                        <td style="line-height: 0px; font-size: 0px;">
                            <img alt="" src="{0}/images/footer_surprise2b.png" style="border: solid 0px white;"
                                usemap="#kuyam" />
                            <map name="kuyam" id="kuyam">
                                <area shape="rect" coords="79,10,135,22" href="{0}" alt="kuyam.com" title="kuyam.com" />
                            </map>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; font-size: 0px;">
                <img alt="" src="{0}/images/footer_surprise11.png" usemap="#footer" style="border: solid 0px white;" />
                <map name="footer" id="footer">
                    <area shape="rect" coords="470,3,525,10" href="%unsubscribe_url%" alt="unsubscribe"
                        title="unsubscribe" />
                    <area shape="rect" coords="183,17,242,26" href="{0}/home/howitworks_user" alt="how it works "
                        title="how it works " />
                    <area shape="rect" coords="266,17,307,26" href="{0}/home/OurStory" alt="our story"
                        title="our story" />
                    <area shape="rect" coords="338,17,354,26" href="{0}/home/faq" alt="faq" title="faq" />
                    <area shape="rect" coords="378,17,424,26" href="{0}/home/contactnew" alt="contact us"
                        title="contact us" />
                    <area shape="rect" coords="454,17,525,26" href="{0}" alt="terms &amp; privacy" title="terms &amp; privacy" />
                </map>
            </td>
        </tr>
        <!--<tr>
            <td style="line-height:0px;"><img alt="" src="{0}/images/footer_surprise.png" usemap="#footer" style="border:solid 0px white;" />
                <map name="footer" id="footer">
                    <area shape="rect" coords="335,10,392,22" href="mailto:{5}" alt="{5}" title="{5}" />
                    <area shape="rect" coords="471,10,527,22" href="{0}" alt="kuyam.com" title="kuyam.com" />
                    <area shape="rect" coords="470,24,529,35" href="{0}home/contactnew" alt="let us know!" title="let us know!" />
                    <area shape="rect" coords="183,39,247,49" href="{0}home/howitworks_user" alt="how it works " title="how it works " />
                    <area shape="rect" coords="269,39,313,49" href="{0}home/OurStory" alt="our story" title="our story" />
                    <area shape="rect" coords="338,39,354,49" href="{0}home/faq" alt="faq" title="faq" />
                    <area shape="rect" coords="378,39,430,49" href="{0}home/contactnew" alt="contact us" title="contact us" />
                    <area shape="rect" coords="454,39,531,49" href="{0}" alt="terms &amp; privacy" title="terms &amp; privacy" /></map>
            </td>
        </tr>-->
    </table>
</center>
