<span>            
    <div class="clear">
    </div>
    <h3 class="headerComment">
        comments ({{totalComments}})</h3>
    <hr />
    <span ng-repeat="comment in commentOfParent">
        <div class="clear15"> </div>
        <div class="commentBox" >
            <div class="wrapperComment">
                <div class="authorPhoto">
                    <span ng-switch="comment.User">
                        <span ng-switch-when="null">
                            <img width="100" height="100" ng-src="{{comment.Author.PhotoUrl}}" />
                        </span>
                        <span ng-switch-default>                            
                            <img width="100" height="100" ng-src="{{comment.User.PhotoUrl}}" />
                        </span>
                    </span> 
                    <p>
                        <span ng-switch="comment.User">
                            <span ng-switch-when="null">
                                {{comment.Author.FirstName}} {{comment.Author.LastName}}
                            </span>
                            <span ng-switch-default>
                                {{comment.User.FirstName}} {{comment.User.LastName}}
                            </span>
                        </span>                                                  
                    </p>
                    <p>
                        {{comment.CommentDate | lowercase}}</p>
                </div>
                <div class="commentBoxContent">
                    <p ng-bind-html-unsafe="comment.Comment"></p>
                </div>
                <div class="clear">
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="wrapperComment bgColor" ng-repeat="child in commentOfChildren | childrenFilter: comment.PostCommentId">
                <div class="authorPhoto">
                    <span ng-switch="child.User">
                        <span ng-switch-when="null">
                            <img width="100" height="100" ng-src="{{child.Author.PhotoUrl}}" />
                        </span>
                        <span ng-switch-default>                            
                            <img width="100" height="100" ng-src="{{child.User.PhotoUrl}}" />
                        </span>
                    </span> 
                    <p>
                        <span ng-switch="child.User">
                            <span ng-switch-when="null">
                                {{child.Author.FirstName}} {{child.Author.LastName}}
                            </span>
                            <span ng-switch-default>
                                {{child.User.FirstName}} {{child.User.LastName}}
                            </span>
                        </span>                                                  
                    </p>
                    <p>
                        {{child.CommentDate | lowercase}}</p>
                </div>
                <div class="commentBoxContent">
                    <p ng-bind-html-unsafe="child.Comment"></p>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </span>
    <div class="contentPaging" ng-hide="totalComments == 0">
        <div class="fLeft mt4 pageNumber">
                <b>{{pageIndex * limit + 1}}-{{pageIndex * limit + parentComments}}</b> of <b>{{totalComments}}</b> results
        </div>        
        <div class="paging">
            <a href="javascript:void(0)" ng-hide="pageIndex == 0" ng-click="gotoPage(pageIndex - 1)" title="previous"><</a>
            <a href="javascript:void(0)" ng-click="gotoPage(pageIndex - 2 - 1)" ng-show="pageIndex >= 5 && ( pageIndex == totalPages - 1 || pageIndex == totalPages - 2 )" title="{{pageIndex - 2}}">{{pageIndex - 2}}</a> 	    
            <a href="javascript:void(0)" ng-click="gotoPage(pageIndex - 1 - 1)" ng-show="pageIndex >= 5 && ( pageIndex == totalPages - 1 || pageIndex == totalPages - 2 )" title="{{pageIndex - 1}}">{{pageIndex - 1}}</a>
            <a href="javascript:void(0)" ng-click="gotoPage(pageIndex - 1)" ng-show="pageIndex >= 5 && ( pageIndex == totalPages - 1 || pageIndex == totalPages - 2 )" title="{{pageIndex}}">{{pageIndex}}</a> 
            <a href="javascript:void(0)" ng-click="gotoPage(pageIndex - 1)" ng-show="pageIndex > 1 && ( pageIndex == lastPage - 2)" title="">{{pageIndex - 1}}</a>	    
	        <span title="">{{pageIndex + 1}}</span>
            <a href="javascript:void(0)" ng-click="gotoPage(pageIndex + 1)" ng-show="pageIndex + 1 < totalPages - 1" title="{{pageIndex +2}}">{{pageIndex + 1 + 1}}</a>
	        <a href="javascript:void(0)" ng-click="gotoPage(pageIndex + 1)" title="{{pageIndex + 3}}" ng-show="pageIndex + 2 < totalPages - 1">{{pageIndex + 2 + 1}}</a>
            <span ng-show="pageIndex + 3 < totalPages - 1" class="borderNone p0 ml4 dotmore">...</span>
	        <a href="javascript:void(0)" ng-click="gotoPage(totalPages - 1)" ng-show="pageIndex < totalPages - 1" title="{{totalPages}}">{{totalPages}}</a>
		    <a href="javascript:void(0)" ng-click="gotoPage(pageIndex + 1)" ng-show="pageIndex < totalPages - 1" title="{{pageIndex + 1}}">&gt;</a>      
        </div>
    </div>

</span>