
@{
    string host = Kuyam.WebUI.Helpers.EmailHelper.GetStoreHost();
    string date = String.Format("{0:dddd, MMMM d, yyyy}", DateTime.Now);
}

<center>
    <table cellpadding="0" cellspacing="0" border="0" width="550px" style="font-family: Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr style="background-color: black;">
                        <td style="text-align: left;" height="64">
                            <img alt="" src="image/header_logo_giftcard.jpg" usemap="#logo" style="border: solid 0px white;
                                margin-top: 1px;" />
                            <map name="logo" id="logo">
                                <area shape="rect" coords="20,10,145,55" href="http://www.kuyam.com" alt="Kuyam"
                                    title="Kuyam" />
                            </map>
                        </td>
                        <td style="color: #c1d82f; text-align: right; font-size: 12px;" height="64">
                            <div style="margin: 30px 20px 0px 0px; font-family: Arial, Helvetica, sans-serif;">
                            Thursday, August 30, 2012
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="line-height: 0px; font-size: 0px;">
                            <img alt="" src="image/header_footer_giftcard.jpg" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; font-size: 0px;">
                <img alt="" src="image/tbox_giftcard.jpg" />
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td valign="top" style="background-color: #89bde0;" width="22">
                            <img alt="" src="image/lbox_giftcard.jpg" width="22" height="590" />
                        </td>
                        <td valign="top" style="border-left: solid 1px #cccccc; border-right: solid 1px #cccccc;"
                            width="506" align="left">
                            <div style="border-left: solid 8px #c1d82f; margin-left: 20px;">
                                <table cellpadding="0" cellspacing="0" border="0" height="590">
                                    <tr>
                                        <td style="padding-left: 14px;" height="308" valign="top">
                                            <table cellpadding="0" cellspacing="0" border="0" width="461">
                                                <tr>
                                                    <td>
                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                            <tr>
                                                                <td style="font-size: 12px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                                    padding-top: 10px; padding-left: 1px;">
                                                                    hi <b>Monika!</b>
                                                                </td>
                                                                <td style="text-align: right; vertical-align: top; padding-right: 10px; padding-top: 5px;">
                                                                    <a href="#" title="login" style="color: #29abe2; text-decoration: none; font-size: 12px;
                                                                        font-family: Arial, Helvetica, sans-serif;">login</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 21px; padding-bottom: 30px; padding-left: 44px;">
                                                        <img alt="" src="image/stacey_sent_you_a_kuyam_gift_card.jpg" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-bottom: 17px; padding-left: 3px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                            <tr>
                                                                <td width="229" height="76" style="padding-top: 153px; padding-left: 21px; font-size: 18px;
                                                                    color: #000000; font-family: Arial, Helvetica, sans-serif;" background="image/a_gift_card_for_you.jpg">
                                                                    gift card number:
                                                                    <br />
                                                                    134723487110341304
                                                                </td>
                                                                <td style="padding-top: 2px; padding-left: 13px; padding-right: 13px; vertical-align: top;">
                                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                                        <tr>
                                                                            <td style="font-size: 12px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                                                padding-left: 2px;">
                                                                                you’ve received $25 to book anyappointment through kuyam. thisgift card does not
                                                                                expire.
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="padding-top: 19px; padding-bottom: 22px; padding-left: 40px;">
                                                                                <table width="89" height="90" cellpadding="0" cellspacing="0" border="0" background="image/pricegiftcard.png">
                                                                                    <tr>
                                                                                        <td style="font-size: 40px; color: #ffffff; font-family: Arial, Helvetica, sans-serif;
                                                                                            text-align: center; vertical-align: middle;">
                                                                                            <sup style="font-size: 13px;">$</sup>25
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <a href="" title="">
                                                                                    <img alt="" src="image/btnredeemnow.png" /></a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 18px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                        padding-top: 3px; padding-left: 6px;">
                                                        To: Monika Meerkat
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-size: 18px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                        padding-top: 2px; padding-left: 6px; padding-bottom: 11px;">
                                                        From: Stacey Mack
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-left: 6px;">
                                                        <textarea cols="" rows="" style="width: 421px; max-width: 421px; min-width: 421px;
                                                            height: 78px; border: 1px solid #808080; font-size: 18px; color: #808080; font-family: Arial, Helvetica, sans-serif;
                                                            padding-top: 6px; padding-right: 9px; padding-bottom: 6px; padding-left: 9px;
                                                            margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0;">“I feel like you would love a massage in these times of stress. Please enjoy. Much love!”</textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 19px; padding-bottom: 4px; padding-left: 4px; color: #000000;
                                                        font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
                                                        kuyam's gift cards can be used to book an appointment with ANY service provider
                                                        within the beauty, health & fitness and kids activities based in Los Angeles that
                                                        is booked through kuyam.
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top" style="background-color: #89bde0;" width="22">
                            <img alt="" src="image/rbox_giftcard.jpg" width="22" height="590" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; font-size: 0px;">
                <img alt="" src="image/fbox_giftcard.jpg" usemap="#social" style="border: solid 0px white;" />
                <map name="social" id="social">
                    <area shape="rect" coords="353,4,382,34" href="http://www.facebook.com/mykuyam" alt="Facebook"
                        title="Facebook" />
                    <area shape="rect" coords="388,4,417,34" href="https://twitter.com/mykuyam" alt="Twitter"
                        title="Twitter" />
                    <area shape="rect" coords="421,4,450,34" href="http://www.youtube.com/user/mykuyam"
                        alt="Youtube" title="Youtube" />
                    <area shape="rect" coords="455,4,485,34" href="http://kuyam.tumblr.com/" alt="Tumblr"
                        title="Tumblr" />
                    <area shape="rect" coords="488,4,518,34" href="http://pinterest.com/kuyam/" alt="Pinterest"
                        title="Pinterest" />
                </map>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0px; font-size: 0px;">
                <img alt="" src="image/footer_giftcard.jpg" usemap="#footer" style="border: solid 0px white;" />
                <map name="footer" id="footer">
                    <area shape="rect" coords="110,8,198,35" href="https://itunes.apple.com/us/app/kuyam/id606531094?mt=8"
                        alt="Iphone" title="Iphone" />
                    <area shape="rect" coords="110,36,198,63" href="https://play.google.com/store/apps/details?id=com.kourosh.kuyam"
                        alt="Android" title="Android" />
                    <area shape="rect" coords="276,15,338,26" href="http://kuyam.com/home/howitworks_user"
                        alt="how it works " title="how it works " />
                    <area shape="rect" coords="355,15,380,26" href="http://kuyam.com/home/OurStory" alt="team"
                        title="team" />
                    <area shape="rect" coords="395,15,435,26" href="http://kuyam.com/home/contact" alt="contact"
                        title="contact" />
                    <area shape="rect" coords="448,15,525,26" href="http://kuyam.com/" alt="terms &amp; privacy"
                        title="terms &amp; privacy" />
                </map>
            </td>
        </tr>
    </table>
</center>

