@using Kuyam.Database
@{
    ViewBag.Title = "UserList";
}
<style type="text/css">
    .input-disabled {
        border: 1px solid #ABADB3 !important;
        border-radius: 8px;
        background: none !important;
        background-color: #ABADB3 !important;
        color: white !important;
        height: 38px!important;
    }
 
</style>
    <div id="contentmainpage">
        <div class="boxsearch">
            <center>
                <table cellpadding="0" cellspacing="0" border="0" class="tbldata">
                    <tr class="odd">
                        <td>
                            <label>
                                search&nbsp;&nbsp;
                                <input type="text" id="txtKey" name="Key" value="@ViewBag.Key" />
                            </label>
                            @Html.Partial("_GuestSearchBox")
                            &nbsp;&nbsp;<input class="button" id="btnSearch" value="search" type="button" onclick="FilterSearchResult();" />
                        </td>
                    </tr>
                </table>
            </center>
        </div>
        <div id="listUsers">
            @Html.Partial("_GuestListResults")
        </div>
    </div>
   