@{
    ViewBag.Title = "api";
}
<h2>@ViewBag.Title</h2>
<div class="text centered">
    <p>
        We love it when people want to make our product better and to that end we are actively
        developing an API to allow people to do so.</p>
    <p>
        If you have any suggestions or special needs, please @Html.ActionLink("click here", "contact", "home")
        to get our contact information or <a href="mailto:dev@kuyam.com">click here</a>
        to email our dev team directly!</p>
</div>
