@model Kuyam.WebUI.Models.Home.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "lets you book all your appointments in one place";
}

<!-- .site-banner -->
<div class="site-banner">
    <!-- InstanceBeginEditable name="banner" -->
    <div class="slide_feature">
        <ul id="slide_feature" class="rslides">
            <li style="background-image:url(content/images/8.jpg);"></li>
            <li style="background-image:url(content/images/9.jpg);"></li>
            <li style="background-image:url(content/images/7.jpg);"></li>
        </ul>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#slide_feature").responsiveSlides({
                pager: true,
                speed: 800
            });
        });
    </script>

    <div class="lineBottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 descriptionTitle">
                    <h2><span>booking</span> appointments has never been easier!</h2>
                    <h4>you pick the time, we'll book the appointment</h4>
                    <p>
                        <a data-target="#modal-sign-up" data-toggle="modal" href="javascript:void(0);" title="sign up">sign up</a>
                        <a href="https://kuyamqa1.apphb.com/home/howitworks_user" title="how it works" class="itWork">how it works</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- InstanceEndEditable -->
</div>
<!-- /.site-banner -->
<!-- .home-content -->
<section class="home-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- .section-header -->
                <header class="section-header">
                    <h2>welcome to kuyam.</h2>
                    <p>book appointments at home or on the go!</p>
                </header>
                <!-- /.section-header -->
                <!-- .desktop -->
                <div class="desktop ipad">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="group_image">
                                <img alt="Laptop" src="content/images/laptop.png" class="laptop">
                                <img alt="Tablet" src="content/images/tablet.png" class="tablet">
                                <img alt="Mobile" src="content/images/mobile.png" class="mobile">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="iphone-android">
                                <p class="book">BOOK IN SECONDS WITH KUYAM app. download for</p>
                                <p class="phone">Iphone and android!</p>
                                <p class="linkStore">
                                    <a target="_blank" href="https://itunes.apple.com/us/app/kuyam/id606531094?mt=8" title="App Store"><img alt="App Store" src="content/images/itunes_badge1.png"></a>
                                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.kourosh.kuyam" title="Google Play"><img alt="Google Play" src="content/images/google_badge1.png"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.desktop -->
                <!-- .slide_welcome -->
                <div class="slide_welcome iphone ipad">
                    <ul id="slide_welcome" class="rslides">
                        <li style="background-image:url(content/images/welcome.jpg);">
                        </li>
                        <li class="iphone-android">
                            <div class="book-phone">
                                <p class="book">BOOK IN SECONDS WITH KUYAM app. download for</p>
                                <p class="phone">Iphone and android!</p>
                            </div>
                            <p class="linkStore">
                                <a href="https://itunes.apple.com/us/app/kuyam/id606531094?mt=8" title="App Store"><img alt="App Store" src="content/images/itunes_badge1.png"></a>
                                <a href="https://play.google.com/store/apps/details?id=com.kourosh.kuyam" title="Google Play"><img alt="Google Play" src="content/images/google_badge1.png"></a>
                            </p>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#slide_welcome").responsiveSlides({
                            pager: true,
                            speed: 800
                        });
                    });
                </script>
                <!-- /.slide_welcome -->

            </div>
        </div>
    </div>
</section>
<!-- /.home-content -->

<div class="event-section">
    <div class="container" id="companyInfoBar">
        @Html.Partial("_Companies")
    </div>
</div>

<!-- .rgba-background -->
<div class="rgba-background">
    <div class="opacity"></div>
    <div class="container service-list">
        <div class="row service-block">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="blockLeft">
                    <span class="box-color box-green"></span>
                    <span class="box-light-color box-light-green"></span>
                </div>
                <div class="blockRight">
                    <h3>everyone's here!</h3>
                    <p>discover and schedule appointments with lifestyle businesses around LA in seconds!</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 link-img">
                <a class="box-green desktop" href="/book" title=""><span class="icon-detail"><span class="icon-business">discover</span></span></a>
            </div>
        </div>
        <div class="row service-block">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="blockLeft">
                    <span class="box-color box-red"></span>
                    <span class="box-light-color box-light-red"></span>
                </div>
                <div class="blockRight">
                    <h3>events for you!</h3>
                    <p>book your favorite beauty or fitness appointments with discounts of up to 40% off.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 link-img">
                <a class="box-red desktop" href="#" title=""><span class="icon-detail"><span class="icon-event">beautify LA</span></span></a>
            </div>
        </div>
        <div class="row service-block">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="blockLeft">
                    <span class="box-color box-blue"></span>
                    <span class="box-light-color box-light-blue"></span>
                </div>
                <div class="blockRight">
                    <h3>you'll love our blog!</h3>
                    <p>it covers the latest tips and trends on topics ranging from beauty, fitness, lifestyle and more.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 link-img">
                <a class="box-blue desktop" href="#" title=""><span class="icon-detail"><span class="icon-blog">lifestyle blog</span></span></a>
            </div>
        </div>
    </div>
</div>
<!-- /.rgba-background -->
<!-- .ad_logo -->
<div class="ad_logo desktop">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header">
                    <h2>as featured on...</h2>
                </div>
            </div>
        </div>
    </div>
    <ul class="clearfix">
        <li><a href="#" title="Reuters"><img alt="Reuters" src="content/images/reuters.png"></a></li>
        <li><a href="#" title="The Wall Street"><img alt="The Wall Street" src="content/images/thewallstreet.png"></a></li>
        <li><a href="#" title="Start Up"><img alt="Start Up" src="content/images/startup.png"></a></li>
        <li><a href="#" title="Tech"><img alt="Tech" src="content/images/tech.png"></a></li>
        <li><a href="#" title="Tech Crunch"><img alt="Tech Crunch" src="content/images/techcrunch.png"></a></li>
        <li><a href="#" title="Reuters"><img alt="Reuters" src="content/images/reuters.png"></a></li>
    </ul>
</div>
<!-- /.ad_logo -->
<script type="text/javascript">
    $(document).ready(function () {
        //var query = window.location.search;
        //if (query.indexOf("lat") == -1 && query.indexOf("lon") == -1) {
        //    navigator.geolocation.getCurrentPosition(show_map);
        //}

        @Html.Raw(ViewBag.DetectLocation);
    });

    function detectLocation() {       
        navigator.geolocation.getCurrentPosition(show_map);
    }

    function show_map(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;
        var categoryId = $(".category-list .active .categoryLnk").attr('categoryId');
        fillterData(lat, lon, categoryId);
    }

    function fillterData(lat, lon, categoryId) {
        var parameters = { lat: lat, lon: lon, categoryId: categoryId };
        $('.loading').show();
        $.ajax(
        {
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(parameters),
            dataType: 'html',
            url: '/home/RefreshCompanyInfoBar/'
        })
        .success(function (result) {
            $('#companyInfoBar').html(result);
            $('.loading').hide();

        })
        .error(function (error) {
            $('.loading').hide();

        });
    }
</script>





