@{
    ViewBag.Title = "learn more";
}
<div class="text centered">
    <h2>@ViewBag.Title</h2>
    <p>
        you're curious- we like that! we're curious too.</p>
    <p>
        look. we know you have too much on your plate. that's why we're here.</p>
    <p>
        kuyam lets you schedule appointments with your favorite local businesses and learn
        more about companies and non-profits in your community. to schedule, you simply
        select who you’d like to make an appointment with on our site, let us know when
        you’re free, and within a little bit your meeting will be scheduled! you’ll receive
        confirmation from kuyam when your appointment is confirmed. if for any reason we’re
        unable to schedule your appointment, we’ll follow up with you and make it happen
        for a different time slot.</p>
    <p>
        no un-returned phone calls, no messages, no waiting on hold for 45 minutes to find
        out your call has been re-routed to another country, no wasting your time.</p>
</div>
