@{
    Layout = "~/Views/Shared/_KuyamLayoutBlack.cshtml";        
    ViewBag.Title = "LoginHeart";
}

<br />

<center>
    <img src="@Url.Content("~/images/Contact/MeerkatIdea.png")" alt="Meerkat Ideas" />
</center>

<br />

<b>
<p>
    We took your feedback to heart <span class="KuyamGreen" style="font-size:24pt;">♥</span>
    and we're working away on our new site.
</p>

<p>
    thank you and <span class="KuyamGreen">we'll be in touch</span>.
</p>
</b>
