@{
    ViewBag.Title = "NoService";
}
@using M2.Util.MVC
<h2>@ViewBag.Title</h2>
<p>Kuyam is not yet available in your area.  We have safely stored your contact information and will contact you when our service is available.  Thank you for your interest!</p>

<br />
@Html.GoBackLink("Back to Homepage", 1)