@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<h2>
    <ul id="menu">
        <li>@Html.ActionLink("Connect to Facebook", "fbCalendar")</li>
        <li>@Html.ActionLink("Connect to Google", "ggCalendar")</li>
    </ul>
</h2>
