@{
    ViewBag.Title = " team";
}
<div class="caseAsEntered text centered">
    <h2>@ViewBag.Title</h2>
    <p>
        kuyam's platform is being built with you at its core. it's a powerful idea that
        will empower people to organize their lives. the company's culture is built around
        integrity, character and a fun work environment. "the genius" behind kuyam is kourosh
        gohar, hence his title. shortly after coming up with the idea he brought in tony
        rhoton, "the doctor" and then todd zebert "the sherpa."</p>
    <p>
        <span class="team-member">kourosh gohar</span>, "the genius" / aka president & ceo
        - founder</p>
    <p>
        kourosh, a longtime california resident, believes in fun and friendly management,
        making that his first priority at kuyam. hailing from the world of finance and banking,
        kourosh has officially traded in his suit for a t-shirt and jeans. when he's not
        working with the guys on kuyam, you can find him hiking, kickboxing, or playing
        soccer with his kids.</p>
    <p>
        <span class="team-member">tony rhoton</span>, "the doctor" / aka director of marketing
        and brand manager / co-founder</p>
    <p>
        tony is a master of many talents; he's successfully balanced running a branding
    firm and being a dad for ten years, and now he's ready to apply those skills to
    kuyam. some other talents include being good at every sport, acting, and growing
    a glorious beard.
    <p>
        <span class="team-member">todd zebert</span>, "the sherpa" / aka director of information
        technology / co-founder</p>
    <p>
        todd is the company's MacGyver, a swiss army knife of IT experience, entrepreneurship,
        and team leadership. besides being the office wise guy, todd excels at critical
        thinking and getting the whole office to go out to happy hour.</p>
</div>
