@{
    Layout = "~/Views/Shared/_KuyamLayoutBlack.cshtml";
    ViewBag.Title = "ThankYou";
}

<br />

<center>
    <img src="@Url.Content("~/images/Contact/MeerkatIdea.png")" alt="Meerkat Ideas" />
</center>

<br />

<b>
<p>
    thank you and <span class="KuyamGreen">we'll be in touch</span>.
</p>
</b>

