@{
    ViewBag.Title = "postsetup";
    Layout = "~/Views/Shared/_MasterPageLayout.cshtml";
}

<link href="@Url.Content("~/css/verification.css")" rel="stylesheet" type="text/css" />
<div class="postsetup">
    <div>
        <h1>
            thank you! we’ll be in touch.</h1>
        <p>
            once you’re verified, we’ll send you an e-mail to confirm and then you can start
            listing your hours and getting more clients.
        </p>
        <a href="/" title="return to dashboard">return to dashboard</a>
    </div>
    <div class="clear">
    </div>
</div>
<div class="clear">
</div>
