.companysetup .rcompanylogo{padding-top:106px;}
.companysetup .rcompanyphoto{padding-top:36px;}
.companysetup .businesshours{padding-top:8px;}
.companysetup .rcompanyvideo{padding-top:135px;}
.companysetup .rcompanyoutube{padding-top:148px;}
.companysetup .rweb{padding-top:28px;}
.companysetup .rwebcompanysetup{padding-top:44px;}
.companysetup .rphone{}
.companysetup .rperson{padding-top:24px;}
.comfirmationpopup .contentPopup .btnbook{margin-top:3px;}
.appointmentgallery li.bjqs-slide .colleft{height:208px;}
.companysetup .editcompanylogo{padding-top:110px;}
.companysetup .editbusinesshours{padding-top:22px;}
.companysetup .editcompanyphoto{padding-top:38px;}
.usersettings .usersettingsboxmid .usersettingcol1 .useraccount h2{padding-top:11px;}
.usersettings .usersettingsboxmid .usersettingcol1 .userreminders h2{padding-top:2px;}
.usersettings .usersettingsboxmid .usersettingcol2 .useremail{padding-top:14px;}
.usersettings .usersettingsboxmid .usersettingcol2 .usercurrentpass{padding-top:21px;}
.usersettings .usersettingsboxmid .usersettingcol2 .editusercurrentpass{padding-top:33px;}
.usersettings .usersettingsboxmid .usersettingcol2 .userphone{padding-top:74px;}
.usersettings .usersettingsboxmid .usersettingcol2 .usercontact{padding-top:22px;}
.usersettings .usersettingsboxmid .usersettingcol2 .userremindme{padding-top:33px;}
.usersettings .usersettingsboxmid .usersettingcol2 .userical{padding-top:33px;}
.usersettings .usersettingsboxmid .usersettingcol3 .userpass{padding-top:22px;}
.usersettings .usersettingsboxmid .usersettingcol3 .userphonevalue{padding-top:72px;}
.usersettings .usersettingsboxmid .usersettingcol3 .usercontactvalue{padding-top:20px;}
.usersettings .usersettingsboxmid .usersettingcol3 .userfirstalert{padding-top:6px;}
.usersettings .usersettingsboxmid .usersettingcol2 .edituserzipcode{padding-top:35px;}
.usersettings .usersettingsboxmid .usersettingcol2 .editusercontact{padding-top:37px;}
.usersettings .usersettingsboxmid .usersettingcol3 .userfirstalert .firstalerttitle, .usersettings .usersettingsboxmid .usersettingcol3 .usersecondalert .secondalerttitle{padding-top:9px;}
.usersettings .usersettingsboxmid .usersettingcol3 .usericaltext{padding-top:10px;}
.usersettings .usersettingsboxmid .usersettingcol3 .editusercontactvalue{padding-top:18px;}
.usersettings .usersettingsboxmid .usersettingcol3 .edituseremailvalue .inputemail{padding-top:5px;}
.postinvitecode .invitebox .lpostinvitecode .postemail{padding-top:21px;}
.infopage .infopagecol1 .infocalendar{padding-top:16px;}
.infopage .infopagecol1 .infoical{padding-top:7px;}
.infopage .infopagecol2 .infocol2chkcall{padding-top:16px;}
.infopage .infopagecol2 .orangebox{margin-top:59px;}
.postinvitecode .rpostinvitecode .rpostformtext .txtcompanysetup input{line-height:24px;}
.usersettings .usersettingsboxmid .usersettingcol1 .editaccount{line-height:23px;}
.usersettings .usersettingsboxmid .usersettingcol1 .userpersonal h2{padding-top:138px;}
.usersettings .usersettingsboxmid .usersettingcol1 .userpersonal .edith2{padding-top:220px;}
.usersettings .usersettingsboxmid .usersettingcol3 .userzipcodevalue{padding-top:21px;}
.usersettings .usersettingsboxmid .usersettingcol3 .edituserzipcodevalue .inputuserzipcodevalue{line-height:25px;}
.usersettings .usersettingsboxmid .usersettingcol3 .edituserphonevalue .inputuserphonevalue{line-height:25px;}
.usersettings .usersettingsboxmid .usersettingcol3 .usernewpass .inputpwd{line-height:25px;}
.usersettings .usersettingsboxmid .usersettingcol3 .usernewpass .textpwd{line-height:25px;}
.usersettings .usersettingsboxmid .usersettingcol3 .edituserpass .inputpwd{line-height:25px;}
.usersettings .usersettingsboxmid .usersettingcol3 .edituseremailvalue .inputemail{line-height:25px;}
.postsetup p{color:#000000;font-size:18px;width:600px;margin:19px 0px 24px 0px;padding:0px;}
.employeeorservice .boxservice p{line-height:19px;}
.employeeorservice .boxemployee p{line-height:19px;}
.employeeorservice{padding-top:23px;}
.postinvitecode .invitebox .lpostinvitecode .postemail{padding-top:37px;}
.companysetup .rcomemail{padding-top:30px;}