.c7am{margin-bottom:21px;}
.c9am, .c5pm{margin-bottom:26px;}
.c3pm{margin-bottom:29px;}
.companysetup .rcompanytitle{padding-top:11px;}
.companysetup .rcomemail{padding-top:32px;}
.companysetup .rphone{padding-top:21px;}
.companysetup .rcompanylogo{padding-top:102px}
.companysetup .rcompanyphoto{padding-top:32px;}
.companysetup .companysetupform .formcol2 .categories{padding-top:36px;}
.companysetup .logoimage{padding-top:6px}
.companysetup .companysetupform .formcol2 .formcol2webverification .verificatiocheck{padding-top:28px;}
.usersettings .usersettingsboxmid .usersettingcol2 .usercurrentpass{padding-top:22px;}
.usersettings .usersettingsboxmid .usersettingcol2 .editusercurrentpass{padding-top:32px;}
.usersettings .usersettingsboxmid .usersettingcol2 .edituserphone{padding-top:31px;}
.usersettings .usersettingsboxmid .usersettingcol2 .userremindme{padding-top:27px;}
.usersettings .usersettingsboxmid .usersettingcol2 .userical{padding-top:34px;}
.usersettings .usersettingsboxmid .usersettingcol1 .editaccount{padding-top:3px;}
.usersettings .usersettingsboxmid .usersettingcol1 .userpersonal h2{margin:0px;padding:145px 0px 0px 0px;font-size:21px;font-weight:bold;}
.postinvitecode .rpostinvitecode .rpostagree{padding-top:5px;}
.postinvitecode .rpostinvitecode .rpostagree .chktext{margin-top:10px;}
.infopage .infopagecol1 .infofullname .fntitle{padding-top:4px;}
.infopage .infopagecol1 .infophone .ptitle{padding-top:4px;}
.infopage .infopagecol1 .infocalendar{padding-top:17px;}
.infopage .infopagecol1 .infoical{padding-top:7px;}
.infopage .infopagecol2 .infotitle{padding-top:22px;}
.infopage .infopagecol2 .infocol2chktext{padding-top:16px;}
.infopage .infopagecol2 .orangebox{margin-top:59px;}
.usersettings .usersettingsboxmid .usersettingcol2{padding-top:2px;}
.postsetup p{color:#000000;font-size:18px;width:600px;margin:19px 0px 24px 0px;padding:0px;}
.employeeorservice{padding-top:24px;}
.employeeorservice .boxemployee img{padding-bottom:4px;}
.employeeorservice .boxemployee input{margin-top:21px;}
.employeeorservice .boxservice p{width:258px;}
.employeeorservice .boxservice input{margin-top:23px;}
.postinvitecode .invitebox .lpostinvitecode .postpwd{padding-top:32px;}
.postinvitecode .invitebox .lpostinvitecode .zipcode{padding-top:32px;}
.companysetup .radd{padding-top:25px;}
.companysetup .rweb{padding-top:25px;}
.companysetup .rperson{padding-top:22px;}
.companysetup .rcompanyoutube{padding-top:138px;}
.companysetup .companysetupform .formcol2 .categories{height:132px;}
.companysetup .editbusinesshours{padding-top:15px;}
.companysetup .editrcompanylogo{padding-top:99px;}
.editserviceform{padding-top:19px;}
