/********************************************************/
/* Company Search Dialog                                */
/********************************************************/

.CompanySearchDialogContent
{
    height:420px;
    width:250px;
    overflow: auto;
    position:absolute;
    left:0px;
    top:10px;
}

.CompanySearchDialogInfo
{
    height:407px;
    width:416px;
    top: 20px;
    right: 10px;
    position:absolute;
    padding-top:10px;
    background-image:url("../images/Dashboard/companysearch.png");
    background-repeat:no-repeat;
}

.CompanySearchDialog H1
{
    color:#3a5070;
    font-family:Century Gothic;
    font-size:12pt;
    font-weight:bold;
    padding-bottom:10px;
}

.CompanySearchDialog a:link 
{ 
    color:#3a5070; 
    font-size:8pt;
    text-decoration:underline;
}

.CompanySearchDialog a:visited
{ 
    color:#3a5070; 
    font-size:8pt;
    text-decoration:underline;
}

.CompanySearchDialog a:hover
{ 
    color:#3a5070; 
    font-size:8pt;
    text-decoration:underline;
}

.CompanySearchDialog .ui-dialog,
.CompanySearchDialog.ui-dialog 
{
	background: url('../images/Dashboard/lookupbg.png') no-repeat;
    width:700px;
    height:491px;
    border:0px;
    font-size: 10pt;
}

.CompanySearchDialog .ui-dialog .ui-dialog-titlebar, 
.CompanySearchDialog.ui-dialog .ui-dialog-titlebar 
{  
    padding: .5em 1em .3em; 
    position: relative;  
    background-image:none;
    background-color:transparent;
    border:0px;
    height:20px;
}

.CompanySearchDialog .ui-dialog .ui-dialog-title,
.CompanySearchDialog.ui-dialog .ui-dialog-title 
{
    color: Navy;
    float: left; 
    margin: .1em 30px .2em 0;
    padding-top:23px;
    padding-left:10px;
} 

.CompanySearchDialog .ui-dialog .ui-dialog-titlebar-close,
.CompanySearchDialog.ui-dialog .ui-dialog-titlebar-close 
{  
    background-image: url("../images/homepage/xbutton.png");
    position: absolute; 
    right: 20px; 
    top: 25px; 
    width: 19px; 
    margin: -10px 0 0 0; 
    padding: 1px; 
    height: 18px; 
}

.CompanySearchDialog .ui-dialog .ui-dialog-titlebar-close span,
.CompanySearchDialog.ui-dialog .ui-dialog-titlebar-close span 
{  
    display: none; 
}

.CompanySearchDialog .ui-dialog .ui-dialog-titlebar-close:hover, 
.CompanySearchDialog.ui-dialog .ui-dialog-titlebar-close:hover, 
.CompanySearchDialog .ui-dialog .ui-dialog-titlebar-close:focus,
.CompanySearchDialog.ui-dialog .ui-dialog-titlebar-close:focus 
{ 
    background-image: url("../images/homepage/xbutton.png");
    background-color:transparent;
    position: absolute; 
    right: 15px; 
    top: 26px; 
    width: 19px; 
    margin: -10px 0 0 0; 
    padding: 1px; 
    height: 18px; 
    border:0px;
}

.CompanySearchDialog .ui-dialog .ui-dialog-content,
.CompanySearchDialog.ui-dialog .ui-dialog-content 
{  
    position: relative; 
    border: 0; 
    padding: .5em 1em;
    left:-40px;
    background: none; 
    overflow: auto; 
}

.CompanySearchDialog .ui-dialog .ui-dialog-buttonpane,
.CompanySearchDialog.ui-dialog .ui-dialog-buttonpane 
{  
    text-align: left; 
    border-width: 1px 0 0 0; 
    background-image: none; 
    margin: .5em 0 0 0; 
    padding: 10px; 
}

.CompanySearchDialog .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset,
.CompanySearchDialog.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset 
{  
    float: right; 
}

.CompanySearchDialog .ui-dialog .ui-dialog-buttonpane button,
.CompanySearchDialog.ui-dialog .ui-dialog-buttonpane button 
{  
    margin: .5em .4em .5em 0; 
    cursor: pointer; 
}

.CompanySearchDialog .ui-dialog .ui-resizable-se,
.CompanySearchDialog.ui-dialog .ui-resizable-se 
{  
    width: 14px; 
    height: 14px; 
    right: 3px; 
    bottom: 3px; 
}

.CompanySearchDialog .ui-draggable .ui-dialog-titlebar,
.CompanySearchDialog.ui-draggable .ui-dialog-titlebar 
{  
    cursor: move; 
}