@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";

    string key = HttpUtility.UrlDecode(Request.Params["key"]);
    string email = Kuyam.Utility.SecurityHelper.DecryptText(key, Kuyam.Utility.ConfigManager.CryptKey);
}
<div class="contentMarketPlace">
    <div class="howitworks">
        <input id="hdfEmail" type="hidden" value="@email" />
        <div class="newresetform">
            <div class="titlereset">
                reset your password</div>
            <div class="clear">
            </div>
            <div class="resetcontent">
                <div class="newresetemail">
                    <div class="resettitle">
                        new password:</div>
                    <div class="resetinput">
                        <input type="password" id="passwordForgot" name="password" value="" class="newtxtinput"
                            size="30" />
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear17">
                </div>
                <div class="newresetemail">
                    <div class="resettitle">
                        verify password:</div>
                    <div class="resetinput">
                        <input type="password" id="rePassword" name="rePassword" value="" class="newtxtinput"
                            size="30" />
                    </div>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear15">
                </div>
                <div class="newresetemail">
                    <div class="resettitle">
                        &nbsp;</div>
                    <div class="resetinput">
                        <input id="btnReset" onclick="ResetPassword();" class="btnReset" type="button" title="continue" value="" />
                    </div>
                </div>
                <div class="errormsg" style="padding-left: 160px; margin-top: 50px;">
                    <!--Error message here-->
                    <div id="divSummaryError">
                        <div id="content">
                            <ul style="display: block; list-style-type: none; margin: 2px 0px 0px 0px; color: Red;
                                padding: 0px;">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('.errormsg').hide();
    });

    $(".resetcontent").keypress(function (e) {
        kCode = e.keyCode || e.charCode;
        if (kCode == 13) {
            ResetPassword();
            return false;
        }
    });

    function ResetPassword() {
        $('.errormsg').hide();
        $("#content ul").empty();
        var flag = true;

        //password

        var password = $('#passwordForgot').val();
        if (password == '') {
            $("#content ul").append('<li>password required.</li>');
            flag = false;
        } else {
            if (password.length < 6) {
                $("#content ul").append('<li>least 6 characters long.</li>');
                flag = false;
            }
        }
        //password confirm
        var passConfirm = $('#rePassword').val();

        if (password != passConfirm) {
            $("#content ul").append('<li>passwords do not match.</li>');
            flag = false;
        }

        if (flag == true) {

            var email = $("#hdfEmail").val();
            var parameters = { password: password, email: email };
            $.ajax(
            {
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(parameters),
                dataType: 'json',
                url: '/Account/ForgotPasswordNew'
            })
            .success(function (result) {
                if (result == true) {
                    window.location.href = '/'
                } else {
                    $("#content ul").append('<li>cannot reset password. please contact the system administrator.</li>');
                    $('.errormsg').show();
                    return false;
                }
            })

            .error(function (error) {
                $("#content ul").append('<li>cannot reset password. please contact the system administrator.</li>');
                $('.errormsg').show();
                return false;
            });
        } else {
            $('.errormsg').show();
            return false;
        }
    }

</script>
