@model Kuyam.WebUI.Models.ResetPasswordModel
@using M2.Util.MVC
@using M2.Util
@{
    ViewBag.Title = "Reset Password";
}
<h2>@ViewBag.Title</h2>
@Model.Message
<br /><br />
@Html.ActionLink("home", "index", "home")