@{
    ViewBag.Title = "page not found";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<div class="wrap">
    <div class="clear">
    </div>
    <div class="content" style="padding-top:0px;">
        <!-- InstanceBeginEditable name="content" -->
        <div class="page404">
            <div class="clear">
            </div>
            <center>
                <img alt="please check the url or return to home" src="../../images/404img.jpg" /></center>
            <div class="clear">
            </div>
            <div class="return">
                please check the url or <a href="/" title="return to home">return to home</a></div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
</div>

